.home{
    grid-template-columns: 3.90fr 7.78fr;
    align-items: center;
    padding: 40px;
    height: 100vh;
}

.home__img{
    height: 88%;
    object-fit:cover;
    border-radius: 30px;
    box-shadow: 0 0 8px hsla(0,0% , 0%, 0.3);
    z-index: 1;
    margin-left: 78px;
}

.home__data {
    max-width: 600px;
    margin-inline: auto;
    padding-top: 5px;
}

.home__title{
    position: relative;
    font-size: var(--h1-font-size);
    line-height: 1.24;
    padding-left: 70px;
}

.home__title span{
    color: var(--first-color);
}

.home__subTitle{
    position: relative;
    font-size: var(--h2-font-size);
    line-height: 1.24;
    padding-left: 70px;
}

.home__subTitle span{
    color: var(--first-color);
}

.home__title::before{
    content: '';
    position: absolute;
    left: 0;
    top: 40%;
    width: 40px;
    height: 5px;
    border-radius: 10px;
    background-color:var(--first-color) ;
}

.home__description{
    line-height: 2.125;
    margin-block: 16px 32px;
}





